$grid-columns: 12;
$size: 100;

.row {
  display: flex;
  flex-wrap: wrap;
  .col {
    flex: 1;
  }
  @for $size from 1 through $grid-columns {
    .col-#{$size} {
      width: calc($size / $grid-columns) * 100%;
    }
  }
}
