@mixin flexBox(
  $display: false,
  $items: false,
  $content: false,
  $wrap: false,
  $direction: false,
  $flex: false
) {
  @if $display {
    display: $display;
  }
  @if $items {
    align-items: $items;
  }
  @if $content {
    justify-content: $content;
  }

  @if $wrap {
    flex-wrap: $wrap;
  }
  @if $direction {
    flex-direction: $direction;
  }
  @if $flex {
    flex: $flex;
  }
}

@mixin dimensions(
  $width: false,
  $height: false,
  $maxWidth: false,
  $maxHeight: false
) {
  @if $width {
    width: $width;
  }
  @if $height {
    height: $height;
  }
  @if $maxWidth {
    max-width: $maxWidth;
  }
  @if $maxHeight {
    max-height: $maxHeight;
  }
}

@mixin position(
  $position: false,
  $top: false,
  $right: false,
  $bottom: false,
  $left: false,
  $zindex: false
) {
  @if $position {
    position: $position;
  }
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $left {
    left: $left;
  }
  @if $zindex {
    z-index: $zindex;
  }
}

@mixin fontStyle(
  $size: false,
  $color: false,
  $weight: false,
  $lh: false,
  $style: false,
  $textDecoration: false,
  $cursorText: false
) {
  @if $size {
    font-size: $size;
  }
  @if $color {
    color: $color;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $style {
    font-style: $style;
  }
  @if $textDecoration {
    text-decoration: $textDecoration;
  }
  @if $cursorText {
    cursor: $cursorText;
  }
}
// Mixin to add ellipsis
@mixin ellipse($maxWidth: false) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @if $maxWidth {
    max-width: $maxWidth;
  }
}

// Mixin for multiline ellipsis support on web
@mixin ellipseMulti($maxLine, $maxHeight: false) {
  display: -webkit-box;
  -webkit-line-clamp: $maxLine;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: nowrap;

  @if $maxHeight {
    max-height: $maxHeight;
  }
}
